{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!doctype html>
<html>
<head>
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>
        {% block title %}
        {% endblock title %}
    </title>
  
</head>
<header class="text-center">
    <div class="jumbotron">
        <div>
            {% block title_header %}
            {% endblock title_header %}
        </div>
    </div>
    <div class="main_menu">
        {% include '_menu.html' %}
    </div>
</header>
<body>
    <div class="container ">
        {% block container_1 %}

        {% endblock container_1 %}


        {% block container_2 %}

        {% endblock container_2 %}
    </div>
</body> 

<footer>
    <div class="jumbotron text-center"> Les bonzais d'Armel</div>
</footer>